.color-slide {
  background-image: linear-gradient(
    -150deg,
    #231557 0%,
    #44107a 29%,
    #5b5ad1 67%,
    #5b5ad1 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.text-animation {
  display: inline-block;
  position: absolute;
  width: max-content;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.comingSoon1 {
  animation-name: moving-text-1;
}

.comingSoon2 {
  animation-name: moving-text-2;
}

@keyframes moving-text-1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moving-text-2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
